@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Be Vietnam Pro", sans-serif;

  --color-primary: #2a6900;
  --color-primary-container: #84fb42;
  --color-on-primary: #d5ffb9;
  --color-primary-dim: #235b00;
  
  --color-secondary: #00628c;
  --color-secondary-container: #a3d8ff;
  --color-on-secondary: #e9f4ff;
  --color-secondary-dim: #00557a;

  --color-tertiary: #725800;
  --color-tertiary-container: #fec700;
  --color-on-tertiary: #fff1d7;
  --color-tertiary-dim: #644c00;

  --color-surface: #f6f6f6;
  --color-surface-container: #e7e8e8;
  --color-surface-container-low: #f0f1f1;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #2d2f2f;
  --color-on-surface-variant: #5a5c5c;
  
  --color-error: #b02500;
  --color-error-container: #f95630;
  --color-on-error: #ffefec;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body;
  }
}

.tactile-button {
  @apply transition-all duration-100 active:translate-y-1 active:shadow-none;
}

.duo-shadow {
  box-shadow: 0 4px 0 0 var(--tw-shadow-color);
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
